main{
    display: flex;
    justify-content: center;
}

.login-form, .register-form {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
.login-form > input, .register-form > input{
    margin: 10px;
    width: 350px;
    height: 40px;

}

.register-form > label, .login-form > label{
    align-self: flex-start;
    margin-left: 10px;
}

.Logged, .Guest {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 201, 100);
}

.Logged > a, .Guest > a {
    padding: 40px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(111, 51, 160);
}

.Logged > a:hover, .Guest > a:hover{
    background-color: rgb(139, 63, 201);
    color: white;
}

.event-root-container {
    position: relative;
    width: 800px;
   
}

.event-conteiner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 350px;
    margin: 3.8%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(129, 129, 129); 
    border: none;
}

.event-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;

}

.event-title{
    margin: 20px;
    word-break: break-all;
    text-align: center;
}


.event-detail-conteiner{
    margin-top: 60px;
}

.event-detail-actions-save,
.event-detail-actions-delete{
    margin: 7px;
    width: 140px;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
    background-color: rgb(252, 212, 105);
}


.event-detail-actions-delete{
    text-align: center;
}

.event-detail-actions-save:hover,
.event-detail-actions-delete:hover{
    background-color: rgb(133, 76, 187);
    color: white;
    box-shadow: 0px 0px 10px rgb(49, 6, 75);
}

.event-detail-body-actions{
    display: flex;
    justify-content: center;
}

.event-detail-button-link{
    text-decoration: none;
    padding: 6px 25px 6px 25px;
    background-color: rgb(131, 68, 190);
    color: white;
    border-radius: 20px;
}

.event-detail-head {
    display: inline-flex;
    flex-direction: row;
    border: none;
}

.event-detail-head-img, .event-detail-head-headers{
    margin: 20px;
    border: none;
}

.event-detail-body{
    display: flex;
    width: 950px;
    justify-content: center;
}

.event-detail-form-FoodDrinks > div > h1 {
    margin-left: 20px;
}

.event-detail-locations,
.event-detail-hints{
    width: 800px;
    height: 300px;
    margin-top: 20px;
    font-size: 18px;
    text-indent: 10px;
    font-style: italic;
}

.event-detail-menu{
    display: flex;
    justify-content: center;
}

.event-detail-menu > a {
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    font-size: large;
}

.event-detail-menu > a:hover{
    box-shadow: 0px 0px 10px rgb(129, 129, 129);
    border-radius: 15px;
}


.event-detail-body-Salads,
.event-detail-body-Appetizers,
.event-detail-body-MainMeals,
.event-detail-body-afterMeals,
.event-detail-body-Alcohol,
.event-detail-body-Soft,
.-After, .-Main, .-Appetizer, .-Salad, .-Alcohol, .-Soft {
    display: inline-flex;
    flex-direction: column;
    margin: 20px;
}

.-After, .-Main, .-Appetizer, .-Salad, .-Alcohol, .-Soft {
    padding: 10px 25px 0px 25px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px rgb(129, 129, 129); 
}

.-After > textarea, 
.-Main > textarea, 
.-Appetizer > textarea, 
.-Salad > textarea {
    width: 800px;
    font-size: 18px;
    font-style: italic;
    border-radius: 7px;
    text-indent: 5px;
    border: 2px solid rgb(219, 219, 219);
}

.-After > input[type=text], 
.-Main > input[type=text], 
.-Appetizer > input[type=text], 
.-Salad > input[type=text],
.-Alcohol > input[type=text], 
.-Soft > input[type=text] {
    width: 800px;
    height: 50px;
    font-size: large;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    background: none;
}


.event-meals-types-actions > button {
    height: 25px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(219, 219, 219);
    background: none;
}

.event-meals-types-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
}


.creat-event-form {
    margin-top: 60px;
    display: inline-flex;
    flex-direction: column;
    width: 900px;
}
.event-create-headers-conteiner{
    display: inline-flex;
    align-items: center;
}

.event-create-title{
    margin-left: 60px;
    height: 50px;
    width: 500px;
    font-size: x-large;
    text-indent: 10px;
}

.event-creat-form-imageUrl {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: antiquewhite;
    cursor: pointer;

    display: inline-block;
    padding: 110px 40px 0px 80px;
    cursor: pointer;
}

.event-create-locations,
.event-create-hints {
    margin-top: 20px;
    font-size: 18px;
    height: 100px;
    text-indent: 10px;
    font-style: italic;
}


.event-create-btn {
    align-self: center;
    width: 140px;
    height: 40px;
    background-color: rgb(252, 212, 105);
    border-radius: 7px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
}

.event-create-btn:hover{
    background-color: rgb(133, 76, 187);
    color: white;
    box-shadow: 0px 0px 10px rgb(129, 129, 129);
}

.event-details-title-body-section{
    text-align: center;
    color: rgb(187, 187, 187);
    border-top: 5px solid rgb(255, 235, 168);
    border-bottom: 5px solid rgb(255, 235, 168);
    padding-top: 10px;
    padding-bottom: 10px;
}